/Hotel-UDEC/dominionegocio/hello word/nbproject/private/
/Hotel-UDEC/dominionegocio/hello word/build/
/Hotel-UDEC/dominionegocio/JavaApplication22/nbproject/private/
/Hotel-UDEC/dominionegocio/JavaApplication22/build/
